apiVersion: v1
kind: Namespace
metadata:
  name: westeros
  labels:
    name: westeros
    project: gotk8s
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: westeros-quota
  namespace: westeros
spec:
  hard:
    requests.cpu: "10"
    requests.memory: 20Gi
    persistentvolumeclaims: "10"
    pods: "50"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: westeros-limits
  namespace: westeros
spec:
  limits:
  - max:
      cpu: "2"
      memory: 2Gi
    min:
      cpu: "100m"
      memory: 128Mi
    default:
      cpu: "500m"
      memory: 512Mi
    defaultRequest:
      cpu: "200m"
      memory: 256Mi
    type: Container
